
.reactWaves {
  width: 85%;
  display: inline-block;
  text-align: center;
  margin: 2em auto;
  padding: 4px 15px 0 40px;

  /* width */
  ::-webkit-scrollbar {
    margin-top: 20px;
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4F49E2;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(79, 73, 226, .85);
  }
}
